*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 5px;
}

/* Write your code here */
.container{
    padding: 15px;
    border-radius: 4px;
    background: rgb(242, 242, 242);
}

.container h1{
    text-align: center;
}

.container input[type="text"],input[type="email"],input[type="number"]
,input[type="password"],input[type="date"], select,textarea{
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


fieldset{
    background: rgb(255, 255, 255);
    padding: 15px;
    border-color: rgb(204, 204, 204);
}

input[type="submit"]{
    background: rgb(137, 211, 166);
    padding: 10px;
    margin-left: 10%;
    border: none;
    border-radius: 4px;
    width: 80%;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}